streamlit==1.23.1
nltk
matplotlib
seaborn
gensim
numpy
pandas
spacy==3.4.0
thinc==8.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.4.0/en_core_web_sm-3.4.0.tar.gz
--upgrade pip