streamlit
nltk
matplotlib
seaborn
gensim
numpy
pandas
os
# # spacy==3.5.0
# spacy==3.4.0
# en-core-web-sm==3.4.0
# # https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.4.0.tar.gz
